.services
{
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction:column;
    gap:80px;
    margin:80px 170px
}
.service-title
{
    position:relative;

}
.service-title h1
{
    font-size: 80px;
    padding:0px 30px;
    font-weight:600;
    text-align: center;
}
.service-title img
{
    position:absolute;
    bottom:0;
    right:0;
    z-index:-1;
}
.service-format
{
    display:flex;
    flex-direction:column;
    /* align-items:center; */
    justify-content: center;
    gap:20px;
    padding:40px;
    border-radius: 10px;
    border:2px solid white;
    transition:0.2s;
    cursor:pointer;
}

.service-container
{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:40px;
    /* align-items: center; */
    margin-bottom:80px;

}
.service-format h3{
    font-size:28px;
    font-weight:600;

}
.service-format h2
{
    font-size:38px;
    font-weight:800;
    background: linear-gradient(270deg, #FFA500 50.41%, #8A2BE2 90.25%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color:transparent;
}
.service-format p{
    color:#d4d4d4;
    font-size:24px;
    line-height:40px;
    max-width: 300px;
}
.services-readmore
{
     /* margin-top:20px; */
     display:flex;
     gap:20px;
     align-items:center;
}
.service-format:hover
{
    border:2px solid #8A2BE2;
    background-image:linear-gradient(45deg, #3f0028 , #582300);
    transform:scale(1.05);
    transition:0.3s;  
    
}
@media(max-width:768px)
{
    .services{
        align-items:start;
        display:flex;
        flex-wrap: wrap;
        gap:70px;
        margin:20px 70px;
    
    }
    .service-container{
        display:grid;
        grid-template-columns: 1fr 1fr ;
    }
    .services h1{
        padding:0;
        font-size:50px;
    }
    .services img{
        width:130px;
        margin-right:-20px;
    }
    .services-format{
        gap:20px;
        padding:32px;
        
    }

}