.hero
{
    display:flex;
    flex-direction: column;
    align-items:center;
}
.hero img{
    margin-top:90px;
    border-radius: 400px;
    width:250px;
    /* width:100%; */
    /* padding:50px; */

    
}
.hero h1{
    text-align: center;
    width:70%;
    font-size:70px;
    font-weight:600;
}
.hero h1 span{
    background: linear-gradient(267deg, #Da7c25 0.36%, #B923E1 100%);
   -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

   
}
.hero p
{
    width:50%;
    line-height:20px;
    font-weight: 400;
    font-size:15px;

}
.hero div
{
    display:flex;
    gap:20px;
    margin-bottom:60px;
}
.hero  .button1, .button2
{
   background-color: transparent;
    padding:15px;
    margin:10px;
    font-size:18px;
    width:160px;
    color:white;
    font-weight:600;
    border-color: black;
    border-radius: 30px;
    transition:0.3s;
    cursor:pointer;


}
.button1
{
    background: linear-gradient(267deg, #Da7c25 0.36%, #B923E1 100%);
}
.button2{
    border-color:white;
    transition:0.2s;

}
.hero .button1:hover
{
   border-color:white;
    transition: 0.3s;
}

.hero .button2:hover {

   border-color:#B923E1;
    transition: 0.2s;
}


