.footer
{
    margin:50px 170px;
    display:flex;
    flex-direction:column;
    gap:30px;
}
.footer-top
{
    display:flex;
    justify-content:space-between;
}
.footer-top-left p
{
    font-size:20px;
    max-width:400px;
}
.footer-top-right
{
    display:flex;
    align-items:center;
    gap:35px;
}
.footer-email-input
{
    display: flex;
    gap:30px;
    padding:20px 30px;
    border-radius:50px;
    background:#32323B;
    padding-right:80px;
}
.footer-email-input input{
    outline:none;
    border:none;
    background:transparent;
    
}